.profile-picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
  transition: all ease-in-out .2s;
}

.background {
  background-color: #282A35;
}

.background2{
  background-color: #f4f2f0;
}

.text{
  color: #ffffff;
}

.navbackground{
  background-color: #7a7a80;
}

.center {
  background-color: #FBFBFB;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  max-width: 1200px;
}